* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.inbox-container {
  width: 350px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  margin: 10px;
  padding: 6px 12px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inbox-container > p {
  color: gray;
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 5px;
}

.inbox-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.inbox-sms {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inbox-content {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.inbox-content p {
  font-size: 10px;
}

.inbox-content p:nth-child(1),
.inbox-content p:nth-child(2) {
  font-weight: bold;
}

.inbox-sms p:last-child {
  align-self: flex-start;

  font-size: 10px;
  color: gray;
}

.twitter-box {
  display: flex;
  flex-direction: row;
  width: 300px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  padding: 6px 12px;
  margin: 10px;
  border-radius: 4px;
  font-size: 12px;
  gap: 10px;
}

.youtube-link-box {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  height: 80px;
  border: 1px solid rgb(200, 200, 200);
  font-size: 10px;
  border-radius: 6px;
}

.youtube-link-box div:last-child {
  align-self: center;
}

.youtube-thumbnail {
  width: 150px;
  background-color: rgb(200, 200, 200);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
